# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略开发环境/编辑器文件
.idea/       # PHPStorm/IntelliJ 项目文件
.vscode/     # VS Code 配置
*.swp        # Vim 临时文件
*.swo        # Vim 临时文件

# 忽略日志文件
*.log

# 忽略用户上传的数据文件
/uploads/
/temp/

# 忽略 PHP 临时文件
/sessions/
